<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.barikoi.barikoidemo">
    <!-- Coarse location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- Or fine location -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <dist:module dist:instant="true" />

    <application
        android:name=".BarikoiDemo"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_barikoidemo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CheckOutActivity"
            android:label="@string/title_activity_check_out"
            android:windowSoftInputMode="stateHidden">

        </activity>
        <activity
            android:name=".MainDemoActivity"
            android:label="@string/title_activity_main_demo"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
    </application>

</manifest>